@keyframes blinkCursor {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }

}

.home-page-hero {
    min-height: 100vh;
    background-color: var(--prussian-blue);
    scroll-snap-align: start;
    scroll-behavior: smooth;

    &__container {
        position: relative;
        display: flex;
       
        z-index: 2;

        
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;


        h1 {
          
            color: var(--orange);
        }

        span {
            color: var(--white);
            margin: 20px 0;
   
        }

        p {
        color: var(--orange);
        font-weight: bold;
        }
    }

    &__media {
        margin: 20px 0px;
       

        svg {
            margin-right: 20px ;
            width: 60px;
            height: 60px;
            fill: var(--cerulean);
        }
    }


}

