@tailwind base;
@tailwind components;
@tailwind utilities; 


body {
    font-family: 'Space Mono', monospace!important;
}

.preloader-section {
    display: flex;
    flex-direction: column;
    perspective: 1000px;
}


#h3-text {
    animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 2s;
}

#p-text {
    animation: slide-in-bottom 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: 2s;
   
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-size: 3rem;
}

.background_wrapper {
    background-color: #1D1E18;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    display: flex!important;
    flex: 1!important;
    margin-right: auto!important;
    margin-left: auto!important;
    max-width: 1400p;
    width: 100%;
}

.project-section {
    display: flex;
    width: 100%;
    height: 900px;
    background-color: #edead0;
}

.project-section.jemek{
    background-image: url('/assets/jemek_bg_one.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 1rem;
}

.project-section.jemek-two{
    background-image: url('/assets/jemek_bg_two.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 1rem;
    margin-top: 0.5%;
}



.project-section.odessio{
    background-image: url('/assets/odessio_bg_one.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 1rem;
    
}

.project-section.odessio-two{
    background-image: url('/assets/odessio_bg_two.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 1rem;
    margin-top: 0.5%;
    
}

.more_proj {
    
    background-color: #333333;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2%;
    border-radius: 1rem;
}

.item-card> .card-video {
    border-radius: 1rem;

}

#carousel, #carousel_two {
    opacity: 1;
   
    animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#carousel.exit, #carousel_two.exit {
    animation: slide-out-elliptic-top-bck 0.7s ease-in both;
   
}

.proj_video {
   
    animation: swirl-in-fwd 0.6s ease-out both;
}

.enter {
    animation: enterAnimation 0.6s ease-out forwards;
   
}

.exit {
    animation: exitAnimation 0.6s ease-out forwards;
    
}






.cursor {
    display: inline-block;
    background-color: black;
    width: 3px;
    animation: blinkCursor 1s steps(1) infinite;
}

/* 
beige: #EDEADO
sunglow: #FFCF56 
mint: #3AB795 
celadon: #A0E8AF
cambridge blue: #86BAA1 */


/* animations */


/* Entry */
@-webkit-keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }
  @keyframes slide-in-elliptic-top-fwd {
    0% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(-60px);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(-60px);
      opacity: 1;
    }
  }

/* Exit */

@-webkit-keyframes slide-out-elliptic-top-bck {
    0% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
  }
  @keyframes slide-out-elliptic-top-bck {
    0% {
      -webkit-transform: translateY(0) rotateX(0) scale(1);
              transform: translateY(0) rotateX(0) scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slide-out-fwd-center {
    0% {
      -webkit-transform: translateZ(1);
              transform: translateZ(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(600px);
              transform: translateY(-80px) translateZ(600px) ;
      opacity: 0;
    }
  }
  @keyframes slide-out-fwd-center {
    0% {
      -webkit-transform: translateZ(1);
              transform: translateZ(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(600px);
              transform: translateY(-80px) translateZ(600px) ;
              ;
      opacity: 0;
    }
  }


/* Chaining animations, in terms of position, involves changing the values of the positional properties of the each animation. For example,
if an animation slides in and ends at a translateY(-60px) or translateZ(-60px) and you want a text to slide in and push the original text up, 
the translate property of text-A in its keyframe at 100% needs to reflect its new position and the slide in animation of text-B needs to reflect
the old position of text-A.  */



  /* Miscellaneous  */
  @keyframes push-up-header {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50px); } /* Adjust this value as needed */ 
}

  @keyframes blinkCursor {
    from { border-right-color: black; }
    to { border-right-color: transparent; }
}

