.home-page-skills {
    background-color: var(--eagle-grey);
    min-height: 100vh!important;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.home-page-content {
    &__skills-container {

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items:center;
        justify-content:center;
    }

    &__skills {
        display: flex;
        flex-direction: column;
      
        
        @media(min-width: 768px){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__headline {

        h2 {
            color: var(--prussian-blue);
            margin: 20px 0px;
        }
    }

    &__skills-content {
        padding: 5%;
        border: 1px solid;
    }

    &__icon-headline {
        display: flex;
        align-items: center;

        h5 {
            font-size: 1.5rem;
            color: var(--prussian-blue);
        }
    }

    &__text {
        margin: 10px 0px;
        p {
            line-height: 1.6;
            color: var(--prussian-blue);
            font-weight: 700;
        }
    }
}

.icon {
    padding: 1%;
    stroke: var(--prussian-blue);
    fill: var(--prussian-blue);
}