
.home-page-projects {
    min-height: 100vh;
    // background-color: var(--eagle-grey);
    // scroll-snap-align: start;
    // scroll-behavior: smooth;
    background: linear-gradient(48deg, var(--orange) 9.6%, var(--eagle-grey) 0%);
}

.home-page-content {
    &__projects {
        display: flex;
        flex-direction: column;
        gap: 40px;
        transition: display 0.5s ease;

        @media(min-width:768px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 30px;
            transition: display 0.5s ease;
        }
        :nth-child(1) {
            grid-column: span 2;
            grid-row: 1 ;
        }

        :nth-child(2) {
            grid-column: 1; // Places this item in the third column
            grid-row: 2; // Explicitly place it on the first row
        }

        :nth-child(3) {
            grid-column: 2;
            grid-row: 2;
        }
    }


    &__project-item {
        display: flex;
        flex-direction: column;
        // box-shadow: 0px 10px 10px -16px;
        border-radius: 10px;

      
    }

    &__project-item-wrapper {
        width: 100%;

        &:hover {
            .category {
                opacity: 0;
                transform: translateY(-20px) ;
                transition: transform 0.5s, opacity 0.4s;

            }
            .option {
                opacity: 1;
                transform: translateY(0) ;
                transition: transfrom 0.5s, opacity 0.4s
            }

            .project-image {
                transform: scale(1.05);
                transition: all 0.5s ease;
            }


        }
    }

    &__project-item-image {
        overflow: hidden;
        line-height: 0;
        .project-image {

            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            cursor: pointer;
           
            height:100%;
            width: 100%;
            transform: scale(1.00);
            transition: all 0.5s ease-in-out;

    }
    }

    &__project-item-content {

        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color:var(--eagle-grey);
        padding: 5% 2%;
        h3, p {
            color: var(--eerie-black);
        }

    }

    &__project-item-text {
        display: flex;
        position: relative;
        height: 1.5rem;
  

        .category, .option {
            display: block;
            position: absolute;
            top: 0;
            left:0;
            color: black;
        }

        .category {
            opacity: 1;
            transform: translateY(0);
            transition: transform 0.5s, opacity 0.4s;
            
        }

        .option {
            display: block;
            opacity: 0;
            transform: translateY(20px) ;
            transition: transform 0.5s, opacity 0.4s;

            &::after {
                content: "";
                position: absolute;
                left: 100%;
                top: 50%;
                height: 2px;
                width: 50px;
                margin-left: 20px;
                background-color: var(--eerie-black);
                color: black;

            }
 
        }
    }
}

.project-tech {
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: 10px 0px;
    flex-wrap: wrap;
    
    p {
        border: 1px solid var(--cerulean);
        padding: 10px 10px;
        border-radius: 3px;
        background-color: var(--cerulean);
        color: var(--eagle-grey);
  
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 70px;
        text-align: center;
    }
}

.project-header {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;

    h2 {
        color: var(--prussian-blue)
    }
}

.project-text {
    p {
        margin-top: 0.5vw;
        margin-bottom: 3vw;
    }
}