.page-transition {

    &__entry {
        height: screen;
        width: screen;
        background-color: var(--orange);
        z-index:50;
      
    }
    &__exit {
        height: screen;
        width: screen;
        background-color: var(--cerulean);
        z-index: 50;
       
    }

    &__pathname {
        color: white;
        margin: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        top:0;
        right: 0;
        font-size: xx-large;
        width: fit-content;
        height: fit-content;
        text-transform: uppercase;
    }


}

